html {
  height: 100%;
}

.logo{
  flex-basis: 20%;
}

.logo img{
  width: 130px;
  cursor: pointer;
}



body {
  color: rgb(247, 70, 0);
  font-size: 40px;
  font-family: Fantasy;
  background-image: url(../img/se.jpg);
  background-size: cover;
  background-position: center top;
  overflow-x: hidden;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
}
body:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
section {
  display: inline-block;
  vertical-align: middle;
  padding:  100px;
  max-width: 500px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
header{
  cursor: none;
}
